{% extends '::base.html.twig' %}

{% block title %}Filmy{% endblock %}

{% block body %}
	

	<nav class="navbar navbar-default navbar-static-top">
	      <div class="container">
	        <div class="navbar-header">
         	<a class="navbar-brand" href="{{path('project_store_homepage')}}">{% block header %}Filmy{% endblock %}</a>
        </div>
	        <div id="navbar" class="navbar-collapse collapse">
	          <form class="navbar-form navbar-right">
	          	{% block navbar %}
		          	{% if is_granted('ROLE_USER') %}
					<div class="row">
						<p>
							Jesteś zalogowany jako {{app.user.username}}. 
							<a href="{{path('fos_user_security_logout')}}" class="btn btn-primary">Wyloguj</a>
						</p>
					</div>
					{% else %}
						<p>
							Nie jesteś zalogowany - 
							<a href="{{path('fos_user_security_login')}}" class="btn btn-primary">Zaloguj</a>
							Jeśli nie masz konta - <a href="{{path('fos_user_registration_register')}}" class="btn btn-primary">Zarejestruj się</a>
						</p>
					{% endif %}
				{% endblock %}
	          </form>
	        </div><!--/.navbar-collapse -->
	      </div>
	    </nav>

	<div class="container">

		{% block content %}
		{% endblock %}	
	      
	</div>

	{{ block('fos_user_content') }}

{% endblock %}
