{% extends 'ProjectStoreBundle::layout.html.twig' %}

{% block header %}Filmy{% endblock %}

{% block content %}
		<div class="row">
			<div class="col-md-2">
				<select class="form-control" onchange="location = this.options[this.selectedIndex].value;">
					<option value="0">Gatunek</option>
					<option value="{{path('project_store_homepage')}}">Wszystkie</option>
		  			{% for genre in genres %}
				  		<option value="{{path('project_store_genre', {'name': genre.name})}}">{{ genre.name }}</option>
				  	{% endfor %}
				</select>
				<br>
			</div>
			<div class="col-md-2">
				<select class="form-control" onchange="location = this.options[this.selectedIndex].value;">
					<option value="0">Sortuj</option>
					<option value="{{path('project_store_homepage')}}">Najczesciej wypożyczane</option>
		  			<option value="{{path('project_store_homepage')}}">Najczęsciej recenzowane</option>
				</select>
				<br>
			</div>
		</div>

		<div class="row">
			{% for movie in movies %}
					<div class="col-xs-6 col-lg-3">
					<a href="{{path('project_store_movie', {'slug': movie.title})}}">
					<img src="{{ movie.cover }}">
					<br><h5 color="black">{{ movie.title }}</h3></a>
					</div>
			{% endfor %}
		</div>
{% endblock %}
