{% extends 'ProjectStoreBundle::layout.html.twig' %}

{% block header %}{{ movie.title }}{% endblock %}

{% block content %}
		
		{% if app.session.flashBag.has('success') %}
	        <div class="alert alert-success">
	            {% for msg in app.session.flashBag.get('success') %}
	                {{ msg }}
	            {% endfor %}
	        </div>
	    {% endif %}

		<div class="row">
			<div class="col-md-2">
				<img src="{{ movie.cover }}"><br>
			</div>
			<div class="col-md-5">
				<p>{{ movie.description }}</p><br>
				<p>Aktorzy:<br>{{ movie.actors }}</p>
			</div>
			<div class="col-md-2">
				<p>Cena: {{ movie.price }} zł<br></p>
				<p><a href="{{ path('sylius_cart_item_add', {'productId': movie.id}) }}" " class="btn btn-primary">Wypożycz</a></p>
				
				{% if is_granted('ROLE_USER') %}
					<a href="{{path('project_store_recenzja_add', {'slug': movie.title})}}" class="btn btn-primary">Dodaj recenzję</a>
				{% endif %}

			</div>
		</div>
{% endblock %}