{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Zaloguj się{% endblock %}

{% block header %}Zaloguj{% endblock %}

{% block navbar %}
	{% if is_granted('ROLE_USER') %}
					<div class="row">
						<p>
							Jesteś zalogowany jako {{app.user.username}}. 
							<a href="{{path('fos_user_security_logout')}}" class="btn btn-primary">Wyloguj</a>
						</p>
					</div>
					{% else %}
						<p>
							Jeśli nie masz konta - <a href="{{path('fos_user_registration_register')}}" class="btn btn-primary">Zarejestruj się</a>
						</p>
					{% endif %}
{% endblock %}

{% block fos_user_content %}
	<div class="container">

	{% if error %}
	    <div color = "red">Error: {{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<form action="{{ path("fos_user_security_check") }}" method="post">
	    
		<label for="username" >{{ 'security.login.username'|trans }}</label>
	    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" /><br>

	    <label for="password" >{{ 'security.login.password'|trans }}</label>
	    <input type="password" id="password" name="_password" required="required"/><br>

	    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
	    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label><br>

	    <input type="submit" id="_submit" name="_submit" value="Zaloguj się" class="btn btn-lg btn-primary"/>
	</form>
	</div>
{% endblock fos_user_content %}